*{
    margin: 0px;
    padding: 0px;
}



.navbar{
    /* background-color: blueviolet; */
    display: flex;
}
.nav_list{
 width: 50%;
 background-color: cornflowerblue;
}
.nav_list li{
display: flex;
}
.nav_list li a{


}
.searchbar{
background-color: cadetblue;
flex: auto;
width: 50%;
text-align: right;

}

.logo{
    width:20%;
    display: flex;
    justify-content: center;
    /* border: 10px;/// */
    border: 3px solid white;
    borderradius: 16;
    border-radius: 53px;

}
.logo img{
    width: 33%;
    border: 10px;
}